{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<div class="container-fluid outer-container grey-bg">
    <div class="inner-container">
        <div class="image-container">
            <img src="{% static 'images/hero.jpg' %}" alt="Workers" class="hero-img">
        </div>
        <div class="text-container">

        </div>
    </div>
</div>

<div class="container-fluid outer-container">
    <div class="inner-container">
        <h2 class='page-header' style='text-align: center;'>Reasons to Use Our Website</h2>
        <div class="row">
            <div class="col-md-6">
                <h3 class='reasons-title'>Publish</h3>
                <div class="row reasons-container">
                    <div class="col reasons-img-container">
                        <img class='reasons-img' src="{% static 'images/worker.jpg' %}" alt="Worker image">
                    </div>
                    <div class="col">
                        <ul class='reasons'>
                            <li>If you have a skill;</li>
                            <li>Need to find a job;</li>
                            <li>Publish in our website!</li>
                            <li>So everyone can find you.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class='reasons-title'>Find</h3>
                <div class="row reasons-container">
                    <div class="col reasons-img-container">
                        <img class='reasons-img' src="{% static 'images/find.jpg' %}" alt="Find image">
                    </div>
                    <div class="col">
                        <ul class='reasons'>
                            <li>Need someone to do a job for you.</li>
                            <li>Don't know where to find a skilled worker?</li>
                            <li>Search on our website.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
